* {
	font-family: Arvo, serif;
}

.jumbotron {
	background-image: url("img/texture-2263634_1920.jpg");
	background-size: cover;
	text-align: center;
}

.header {
	color: #fff;
}

#picofme {
	border: 5px solid #fff;
	width: 20%;
	
}

h2 {
	text-align: center;
}

p {
	font-size: 1.5em;
}

.container {
	/* background-color: #DEB078;*/
	background-color: #D6D4D5;
}

#socialLinks {
	float: none; 
	text-align: center;
	padding: 2.0em
	
}

table {
	width: 60%;
	margin: auto;
}

td {
	text-align: center;
	padding: 1.5em;
}